@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <iframe src="https://www.baidu.com/" class="col-lg-6 col-md-12 col-sm-12 col-xs-12"></iframe>

</div>
